body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    user-select: none;
}

.content {
    flex: 1;
}

.card-text {
    text-align: justify;
}

.card-img-top {
    height: 300px; /* Adjust the height as needed */
    object-fit: cover; /* This ensures the image covers the entire space without stretching */
}